<h1>Ride Success Confirmation</h1>
<h2>Ride Details:</h2>
<ul>
  <li>Ride ID: {{rideID}}</li>
  <li>Route: {{route}}</li>
  <li>Date of Travel: {{travelDate}}</li>
  <li>Time of Travel: {{travelTime}}</li>
  <li>Ride Pick Up: {{pickupLocation}}</li>
  <li>Ride Dropoff: {{dropoffLocation}}</li>
  <li>Pick Up Time: {{pickupTime}}</li>
  <li>Drop Off Time: {{dropoffTime}}</li>
  <li>Driver: {{driver}}</li>
  <li>Price: ₱{{price}}</li>
</ul>
<button onclick="rateAndReview()">Rate and Review</button>
<button onclick="contestRide()">Contest Ride</button>
