<h1>Ride Posted Successfully</h1>
<p>{{message}}</p>
<h2>Ride Details:</h2>
<ul>
  <li>Ride ID: {{ride.rideID}}</li>
  <li>From: {{ride.originCity}}, {{ride.originAddress}}</li>
  <li>To: {{ride.university}}</li>
  <li>Departure: {{ride.departureTime}}</li>
  <li>Return: {{ride.returnTime}}</li>
  <li>Seats: {{ride.numSeats}}</li>
  <li>Price: ₱{{ride.price}}</li>
  <li>Description: {{ride.description}}</li>
</ul>
<a href="/ride">View All Rides</a>