
<div class="bookride-container">
  {{!-- <h1>{{title}}</h1> --}}

<div class="bookride-left">

  <div class="ride-details-booking">
    <p>Ride Details:</p>
    <div class="time-details">
      <div class="ride">
        <span style="font-family: 'Maven Pro', sans-serif;">{{formatTime ride.departureTime.hour ride.departureTime.minute}}</span> 
        -
        {{ride.pickupPoint}}

      </div>
      <div class="ride">
        <span style="font-family: 'Maven Pro', sans-serif;">{{formatTime ride.arrivalTime.hour ride.arrivalTime.minute}}</span> 
        -
        {{ride.dropoffPoint}}
      </div>
    </div>

    <br>
    <hr width="100%" size="3" color="gray">
    <br>

    <div class="price">
      <div class="info">
        <p>Total price for 1 passenger</p>
        <p>Edit Payment details</p>
      </div>
      <div class="price-details">
        <p>Cash</p>
        <h2>₱{{ride.price}}</h2>
      </div>
    </div>

    <br>
    <hr width="100%" size="3" color="gray">
    <br>

  </div>

  <div class="driver-info">
    <img src="{{driver.profilePicture}}" alt="Driver profile picture" class="driver-photo">
    <p>{{driver.name}}</p>
  </div>

  <br>
  <hr width="100%" size="3" color="gray">
  <br>

    <a href="/chat/{{driver.userID}}"> <span style="color: var(--primary-color);">Message Driver</span></a>

  <br>
  <hr width="100%" size="3" color="gray">
  <br>

  <div class="vehicle-info">
    <h3>Vehicle</h3>
    <p>{{driver.carMake}} {{driver.carModel}}</p>
    <p>{{driver.carPlate}}</p>
  </div>

</div>


<div class="bookride-right">

  <div class="route-map">
    <div class="sample-map">
      <img src="/img/sample-map.png" alt="Sample route map" style="width: 100%; height: 300px; object-fit: cover;">
    </div>
    <h3>Ride Route</h3>
    <p>2 hours</p>
  </div>

  <div class="date-selection">
    <h3>Which dates do you want to book?</h3>
    <p>You can book up to 1 month in advance!</p>


    <div class="ridesched">
      {{#each (array 'sunday' 'monday' 'tuesday' 'wednesday' 'thursday' 'friday' 'saturday') as |day|}}
        <div class="day-container">
          <input type="checkbox" id="{{day}}" name="availableDays" value="{{day}}" {{#if (includes day ../ride.availableDays)}}checked{{/if}} disabled>
          <label for="{{day}}">
            {{#if (eq day 'sunday')}}S{{/if}}
            {{#if (eq day 'monday')}}M{{/if}}
            {{#if (eq day 'tuesday')}}T{{/if}}
            {{#if (eq day 'wednesday')}}W{{/if}}
            {{#if (eq day 'thursday')}}H{{/if}}
            {{#if (eq day 'friday')}}F{{/if}}
            {{#if (eq day 'saturday')}}S{{/if}}
          </label>
        </div>
      {{/each}}
    </div>
    
    <div class="calendar">
      <h4>{{currentMonth}}</h4>
      <table>
        {{#each calendarDays}}
          {{#if @first}}<tr>{{/if}}
          <td>
            {{#if this.isAvailable}}
              <input type="checkbox" id="date-{{this.date}}" name="selectedDates" value="{{this.date}}">
              <label for="date-{{this.date}}">{{this.day}}</label>
            {{else}}
              <span class="unavailable">{{this.day}}</span>
            {{/if}}
          </td>
          {{#if @last}}</tr>{{else if (isEndOfWeek @index)}}</tr><tr>{{/if}}
        {{/each}}
      </table>
    </div>

    <button id="bookRideBtn" class="button-link">Book Ride</button>
  </div>


</div>


</div>


<script>
  // Handle booking
  document.getElementById('bookRideBtn').addEventListener('click', function() {
    const selectedDates = Array.from(document.querySelectorAll('input[name="selectedDates"]:checked'))
      .map(input => input.value);

  

    if (selectedDates.length === 0) {
      alert('Please select at least one date to book.');
      return;
    }

    // Send booking request to server
    fetch('/booking/bookRide', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        rideId: '{{ride.rideID}}',
        dates: selectedDates
      })
    })
    .then(response => response.json())
    .then(data => {
      if (data.success) {
        alert('Ride request submitted successfully! Please wait for the driver to accept your booking.');
        window.location.href = '/booking/myBookings';
      } else {
        alert('Ride request failed: ' + data.message);
      }
    })
    .catch(error => {
      console.error('Error:', error);
      alert('An error occurred while requesting the ride.');
    });
  });
</script>


